Repository MinecraftForge/Documentation, pull requests merged in 2021-09, with the labels that each got.

#383 [1.12.x] Fix version warning note from RtD
  forge_theme/css/version_warning_fix.css
  mkdocs.yml
Labels: Theme

#387 [1.17.x] Fix version warning note from RtD
  forge_theme/css/version_warning_fix.css
  mkdocs.yml
Labels: Theme, 1.17

#386 [1.15.x] Fix version warning note from RtD
  forge_theme/css/version_warning_fix.css
  mkdocs.yml
Labels: Theme, 1.15

#385 [1.14.x] Fix version warning note from RtD
  forge_theme/css/version_warning_fix.css
  mkdocs.yml
Labels: 1.14, Theme

#384 [1.13.x] Fix version warning note from RtD
  forge_theme/css/version_warning_fix.css
  mkdocs.yml
Labels: Theme

#389 Update WorldSavedData Docs
  docs/datastorage/worldsaveddata.md
  mkdocs.yml
Labels: Out of Date Information, Page Improvement, 1.16
